    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
        <head>
            <title>Hello World!</title>
        </head>
        <body>
            <div th:if="${passwordError}" th:text="${passwordError}" style="color:red"></div>

            <h1>DANG KY</h1>
            <form th:action="@{/register}" th:object="${userDto}" method="POST">
                <div>
                    <label>firstName</label>
                    <input th:field="*{firstName}"/>
                    <p th:each="error: ${#fields.errors('firstName')}" 
                      th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>lastName</label>
                    <input th:field="*{lastName}"/>
                    <p th:each="error : ${#fields.errors('lastName')}" 
                      th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>email</label>
                    <input type="email" th:field="*{email}"/>
                    <p th:each="error : ${#fields.errors('email')}" 
                      th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>password</label>
                    <input type="password" th:field="*{password}"/>
                    <p th:each="error : ${#fields.errors('password')}" 
                      th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label>confirm</label>
                    <input type="password" th:field="*{matchingPassword}"/>
                </div>
                <button type="submit">submit</button>
            </form>

            <a th:href="@{/login.html}">login</a>
        </body>
    </html>